<!DOCTYPE html>
    <head>
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p> Something is here in this paragraph</p>
        <p>{{screamIt welcomeMessage}}</p>
        {{> footer}}
    </body>
</html>
